.product_container{
    display: flex;
    width: 90vw;
    height: 70vh;
    margin-top: 150px;
    margin-left: 50px;
    /* border: 1px solid red; */
    box-shadow: 1px 2px 9px  black;
}
.left_panel{
    height: 100%;
    width: 35%;
    background-color: black;
    color: aliceblue;
}